@{
    ViewData["Title"] = "Get a Lesson Quote";
    ViewData["Icon"] = "/imgs/woodworking.png";

}
<h1>@ViewData["Title"]</h1>

<form>
    <div>
        <label for="hours">Number of hours:</label>
        <input type="number" id="hours" min="0" required>
        <br>
        <label for="price">Price per hour:</label>
        <input readonly id="price" value="$20"></input> <br>
        <button type="button" id="calculateButton">Calculate total</button>
        <br>
        <label for="total">Total cost:</label>
        <input readonly id="total"></input>
    </div>
</form>
